* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Play" ,sans-serif;
    background-image: url("Img/BackGroundSiteModern.png");
    position: static;
}

header {
    z-index: 1;
    top:0;
    padding: 0px;
    background-color: #8f89dd; /* À voir */
    position: sticky;
    display: flex;
    height: 80px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.panier {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.622);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panier h1 {
    margin-bottom: 20px;
}

.services {
    margin-bottom: 20px;
}

.service {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.service-info {
    display: flex;
    align-items: center;
}

.service-info img {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.service-value {
    display: flex;
    align-items: center;
}



.service-value input {
    width: 40px;
    padding: 5px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.service-value p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
}

.bouton{
    background-color: #0a517ed1;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.bouton:hover{
    background-color: rgb(35, 2, 126);
    cursor: pointer;
}

.regler-achat a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.le-total {
    margin-top: 20px;
}

.vrai-total {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.vrai-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.vrai-total hr {
    margin: 10px 0;
}

.vrai-total button {
    width: 100%;
    padding: 10px;
    background-color: #0a517ed1;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.vrai-total button:hover{
    background-color: rgb(35, 2, 126);
    cursor: pointer;
}

.reduc-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reduc-code input {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reduc-code button {
    padding: 6px 12px;
    background-color: #0a517ed1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.reduc-code button:hover{
    background-color: rgb(35, 2, 126);
    cursor: pointer;
}

.idee-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.idee-section p {
    margin-bottom: 10px;
}

.idee-section ul {
    list-style: none;
}

.idee-section ul li {
    margin-bottom: 5px;
}
